.container {
  padding: 0 0rem;
  
}
.container2 {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  min-height: 50vh;
  padding: 0rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;  
}
.header2 {
  position: absolute;
  top: 10;
  right: 0;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding: 1.8rem ;
  margin-left: 2rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}


.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 5rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
}

.grid h2 {
  color: #0E76A8;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  
  
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 20rem;
  
}

.experience {
  display: flex;
  justify-content: space-between;
}

.card:hover,
.card:focus,
.card:active {
  color: #04364d;
  border-color: #04364d;
  transform: translateY(-1rem);
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.nav {
  background-color: rgba(3, 3, 92, 0.253);
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.8rm;
  border-radius: 3rem;
  flex-direction: row;
  position: fixed; 
  backdrop-filter: blur(15px);  
  }

  .nav a {
    background-color: transparent;
    padding: 0.9rem;
    border-radius: 50%;    
    font-size: 1.1rem;
    display: flex;
    color: #fafafa;
  
  }


  .nav a:hover {
    background: rgba(0, 0, 0, 0.3);
    transform: translateY(-0.5);
  }

  .navactive {
    background: var(--color-bg);
    color: var(--color-white);
  }

  .perfil {
    opacity: 0.9;
    width: 100%;

  }

  .title2 {
    color: #0E76A8;
    font-size: 1.5rem;
  }

  .text {
    color: #04364d;
    font-size: 1.4rem;
  }

  .text2 {
    color: #04364d;
    font-size: 1.4rem;
    text-align: center;
  }

  .divButton{
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    
    justify-content: center;     
    
  }
  .buttonD {
    color: #0E76A8;
    font-size: larger;
    font-weight: 600;
    border: 3px solid #0E76A8;;
    border-radius: 1rem;    
    width: 10rem;
    height: 4rem;
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    
    
  }

  .buttonE {
    color: white;
    font-size: larger;
    background-color: #0E76A8;
    border-radius: 1rem;    
    width: 10rem;
    height: 4rem;
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;   
  }

  .buttonD:hover {
    transform: translateY(-0.2rem);
  }
  .buttonE:hover {
    transform: translateY(-0.2rem);
  }

@media only screen and (max-width: 910px) {
  .header2 {
    position: static;
    top: 10;
    right: 0;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 0.5rem;
  }

  .divButton{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;   
    justify-content: center;     
    align-items: center;
    padding: 0 0rem;
    margin-left: -2rem;
  }

  .buttonE {
    color: white;
    font-size: larger;
    background-color: #0E76A8;
    border-radius: 1rem;    
    width: 10rem;
    height: 4rem;
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-top: 2rem;
    
  }
}
  

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}


